.dialogs {
  display: grid;
  grid-template-columns: 2fr 10fr;
}
.dialogItems {
  padding: 10px;
}

.dialogItems a.active {
  color: goldenrod;
}

.dialog a {
  color: #fff;
  text-decoration: none;
}

.messages {
  padding: 10px;
}

.dialog img,
.message img {
  width: 20px;
  height: 20px;
}
